.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10001;
    width: 130px;
    height: 130px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .text {
    position: fixed;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh; 
    left: 50%;
    top: 70%;
    z-index: 10002;
    /* margin-top: 100px;
    margin-left: -150px; */
    transform: translate(-50%, -50%);   
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .blockUI {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    cursor: wait;
  }
  
  